blinker
click
Flask
gunicorn
importlib_metadata
itsdangerous
Jinja2
joblib
learn
MarkupSafe
numpy
packaging
pandas
python-dateutil
pytz
sci-kit
scikit-learn
scipy
six
threadpoolctl
tzdata
Werkzeug
zipp